# Chapter I

1. Write an English sentence with understandable semantics but incorrect syntax. Write another English sentence which has correct syntax but has semantic errors.

it is adifficult problem?

People Atlanta shopping the green

2. Using the Python interpreter, type 1 + 2 and then hit return. Python evaluates this expression, displays the result, and then shows another prompt. * is the multiplication operator, and ** is the exponentiation operator. Experiment by entering different expressions and recording what is displayed by the Python interpreter.

In [2]:
1+2

3

In [3]:
10*2

20

In [4]:
10**2

100

In [5]:
10+9*3+2**3

45

In [6]:
10+(9*3)+2**3

45

3. Type 1 2 and then hit return. Python tries to evaluate the expression, but it can’t because the expression is not syntactically legal. Instead, it shows the error message:

In [7]:
1 2

SyntaxError: invalid syntax (<ipython-input-7-32d3c3db7c81>, line 1)

4.Type print("hello"). Python executes this, which has the effect of printing the letters h-e-l-l-o. Notice that the quotation marks that you used to enclose the string are not part of the output. Now type "hello" and describe your result. Make notes of when you see the quotation marks and when you don’t.

In [9]:
print("hello")

hello

In [10]:
print(hello)

NameError: name 'hello' is not defined

In [11]:
"hello"

'hello'

In [12]:
hello

NameError: name 'hello' is not defined

5.Type cheese without the quotation marks. The output will look something like this:

In [13]:
cheese

NameError: name 'cheese' is not defined

6. Type 6 + 4 * 9 at the Python prompt and hit enter. Record what happens.

What happens when you run this script? Now change the script contents to:

print(6 + 4 * 9)

In [14]:
6+4*9

42

In [15]:
print(6 + 4 * 9)

42